.detail_container {
  .go_back {
    position: absolute;
    top: 120px;
    left: 40px;
    font-size: 40px;
    color: #f0506e;
    z-index: 99;
  }
  .main_detail {
    padding: 100px 0;
    .left_img {
      margin: 80px 60px;
      padding-left: 5%;
      img {
        width: 350px;
        border-radius: 2px;
        box-shadow: 8px 8px 8px #ede3e5;
      }
    }
    .right_info {
      margin: 80px 80px 0 0;
      font-size: 24px;
      font-weight: 600;
      text-align: left;
      .infos {
        color: #828289;
        font-size: 18px;
        font-weight: 500;
        margin: 10px 0;
        span {
          line-height: 30px;
        }
      }
      .introduce {
        margin: 20px 0;
        font-weight: 400;
        line-height: 30px;
      }
      .casts {
        .title {
          line-height: 40px;
        }
      }
      .comments {
        .title {
          width: 100%;
          margin-top: 40px;
          padding: 20px 0;
          border-top: 1px solid#dcdfe6;
        }
        .addBtn {
          margin-left: 50%;
        }
      }
    }
  }
  .addComment {
    // margin: 20px 0;
    padding-left: 10%;
    .el-textarea {
      width: 80%;
    }
    .score {
      text-align: left;
      margin: 20px 0;
      .el-rate__text {
        color: #f0506e !important;
      }
    }
  }
}
