.index_container {
    .subTitle {
        font-size: 28px;
        float: left;
        width: 20%;
        margin-top: 250px;
        text-align: center;
        .more {
            a {
                color: #f0506e !important;
                text-decoration: none;
                font-size: 24px;
                border: 2px solid #f0506ea6;
                padding: 0 15px;
                border-radius: 20px;
            }
        }
    }
    .el-row {
        display: table-cell;
        vertical-align: middle;
        padding: 0 20px;
        height: 100%;
        .el-card__body {
            position: relative;
            padding: 10px !important;
            .item_name {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
    .icon1 {
        position: absolute;
        width: 50px;
        margin-left: 48%;
        margin-top: -25px;
        z-index: 997;
        animation: iconCss 6s infinite linear;
        -webkit-animation: iconCss 6s infinite linear;
    }
    @keyframes iconCss {
        0% {
            transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(360deg);
            -webkit-transform: rotateY(360deg);
        }
    }
    .icon2 {
        position: absolute;
        width: 50px;
        margin-left: 48%;
        margin-top: -25px;
        z-index: 997;
        animation: iconCss2 6s infinite linear;
        -webkit-animation: iconCss2 6s infinite linear;
    }
    @keyframes iconCss2 {
        0% {
            transform: rotateX(360deg);
            -webkit-transform: rotateX(360deg);
        }
        100% {
            transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
        }
    }
    .newMoives,
    .hotMoives,
    .recommendMoives {
        height: 600px;
        width: 100%;
    }
    .recommendMoives {
        .unlogin {
            position: relative;
            height: 100%;
            .content {
                position: absolute;
                top: 50%;
                text-align: center;
                left: 50%;
                margin-left: -60px;
                margin-top: -36px;
                a {
                    background-color: rgba(240, 80, 110, 0.1);
                    color: #f0506e;
                    border: 1px solid rgba(240, 80, 110, 0.4);
                    padding: 5px 30px;
                    border-radius: 40px;
                }
            }
        }
    }
    .introduce {
        font-size: 24px;
        height: 400px;
        color: #f0506e;
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 15%;
        padding-right: 15%;
        div {
            width: 50%;
            float: left;
            text-align: center;
            height: 200px;
            line-height: 200px;
            position: relative;
            left: 0;
            right: 0;
        }
        .left {
            animation: leftDiv 2s;
        }
        @keyframes leftDiv {
            from {
                left: -150px;
            }
            to {
                left: 0;
            }
        }
        .right {
            animation: rightDiv 2s;
        }
        @keyframes rightDiv {
            from {
                left: 150px;
            }
            to {
                left: 0;
            }
        }
    }
}