.container {
  width: 100%;
  min-height: 700px;
  background-color: #f0506e;
  .bg {
    float: left;
    opacity: 0.9;
  }
  .logo {
    float: left;
    margin: 40%;
    width: 20%;
    margin-top: -50%;
    position: relative;
  }
  .bgColor {
    height: 840px;
    width: 100%;
    background-color: #fecee4;
  }
  .crmTitle {
    float: left;
    margin-top: -44%;
    text-align: center;
    width: 100%;
  }
}

.forms {
  position: relative;
  float: left;
  width: 100%;
  margin-top: -40%;
  form {
    float: left;
    padding-top: 50px;
  }
  .loginForm,
  .registerForm {
    width: 30%;
    margin-left: 35%;
    background-color: rgba(255, 255, 255, 0.11);
    box-shadow: 5px 5px 15px #503e3e;
    .el-form-item {
      width: 80%;
      margin-left: 10%;
      margin-bottom: 50px !important;
    }
  }
  button {
    float: left;
    box-sizing: border-box;
    line-height: 28px;
    color: #fff;
    border: 1px solid transparent;
    font-size: 1rem;
  }
  .leftBtn {
    background-color: #f0506e;
    width: 40%;
  }
  .rightBtn {
    background-color: #3b3a3f;
    width: 30%;
    margin-left: 30%;
  }
  .el-form-item__error {
    color: #3b3a3f !important;
    line-height: 24px;
    font-size: 14px;
  }
}

.hide {
  display: none;
}

.warnning {
  color: #f0506e;
  // margin-left: 30%;
  text-align: left;
  font-size: 14px;
}
