#app{
  border-top: 3px solid#f0506e;
}
// font-color
.themeRed {
  color: #f0506e;
}

.themeBlack {
  color: #3B3A3F;
}

.themeWhite {
  color: #FFFFFF;
}

// background-color
.themeBgRed {
  background-color: #f0506e;
}

.themeBgBlack {
  background-color: #3B3A3F;
}
